
.profile-img{
    height: 100%;
    width: 30%;
    border-radius: 50%;
    display: block;
    margin: 20px auto;
    position: absolute;
    bottom: 120px;
    left: 35%;
}
.user-name{
    margin-top:80px ;
    margin-bottom: 20px;
}
.profile-img-div {
    display: block;
    margin: 12px auto;
    text-align: center;
    width: 28vw;
    height: 100px;
    position: relative;
}
.card-container{
    height: 80vh;
    padding: 40px;

    border-radius: 0;
}
.profile-card{
    width: 30vw;
    margin: 45px auto;
    padding: 10px 20px;
    background: rgba(246, 232, 232, 0.587);
    /* color: aliceblue; */
    font-size: 20px;
    font-weight: bolder;
    color: black;
    border-radius: 25px;
    /* box-shadow: 0 0 5px 5px rgba(225, 216, 216, 0.898); */
    
}

.profile-info-div{
    margin: 20px 20px;

}
.profile-info{
    border-bottom: 2px solid rgb(0, 0, 0);
    position: relative;
    bottom: 80px;
}
.icon{
    height: 20px;
    margin: 5px;
}

@media only screen and (max-width: 600px){
    .remove{
        display: none;
    }
    .profile-card{
        width: 70vw;
    }
    .profile-img-div{
        width: 65vw;
    }
    .address{
        width: 10vw;
    }
    
}