
.profile-img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px dashed white;
    display: block;
    margin: 20px auto;
}
.profile-img-div {
    display: block;
    margin: 12px auto;
    text-align: center;
    background-color: #ff914d;
    width: 28vw;
}
.card-container{
    height: 85vh;
    padding: 40px;
    background-color: #ff914d;
    border-radius: 0;
}
.profile-card{
    width: 30vw;
    margin: 5px auto;
}
/* .profile-card{
    width: 30vw;
    margin: 5px auto;
} */
.profile-info-div{
    margin: 20px 20px;

}
.profile-info{
    border-bottom: 2px solid black;
}
.icon{
    height: 20px;
    margin: 5px;
}

@media only screen and (max-width: 600px){
    .remove{
        display: none;
    }
    .profile-card{
        width: 70vw;
    }
    .profile-img-div{
        width: 65vw;
    }
}