.menu-card{
   height: 23rem;
   width: 20rem;
    box-shadow: 0 0 5px 2px #ccc;
    border-radius: 10px;
    margin: 1rem 2rem ;
}
.food-img{
  height: 12rem;
  width:18rem ;
  display: block;
  margin: 1rem auto;
}
.food-title{
   font-size: 18px;
display: block;
    margin-left: 1rem;
   
   }
   .lunch-dinner{
    margin-left: 1rem;
    font-size: 1rem;
    
   }
   
/* .food-discription{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-size: 15px;
    margin: 0;
} */
/* .food-time{
    font-size: 15px;
} */
.food-flex{
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}
.food-price{
    font-size: 13px;
    margin: 0;
}

