.menu-card{
    height: 370px;
    width: 300px;
    background-color: fffffff;
    box-shadow: 0 0 5px 2px #ccc;
    border-radius: 10px;
    margin: 50px;
    padding-left: 10px;
    padding: 10px;
    overflow: hidden;
 
}
.food-img{
    height: 200px;
    margin-left: 15px;
}
.food-title{
   font-size: 18px;
    padding: 1px;
    font-weight: 700;
    margin: 0;
}
.food-discription{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-size: 15px;
    margin: 0;
}
.food-time{
    font-size: 15px;
}
.food-flex{
    display: flex;
    justify-content: space-between;
}
.food-price{
    font-size: 13px;
    margin: 0;
}