.bg-pink{
    background-color: #ff914d;
}

.bg-white{
    background-color: white;
}
.side-img{
    height: 100vh;
    position: relative;
    right: 60px;
}
.profile-side-templet{
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
}
.heading{
    color: white;
    font-family: gabriola;
    font-size: 50px;
    margin-top: 20px;
}
.profile-templat-img{
    height: 500px;
    position: relative;
    top: 70px;
    left: 50px;
}