.header{
    height: 5rem;
    padding: 0 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
    
}
.navbar{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.nav-list{
    width: 70vw;
   
    display: flex;
    justify-content: space-between;
}
.list-item{
    list-style: none;
    text-decoration: none;
   
}
.nav-link:link,
.nav-link:visited{
    display: inline-block;
   
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    color:rgb(95, 94, 94) ;
    

}

