.nav-logo{
    height: 50px;
    margin: 0 10px;
    display: block;
}
.nav-bar{
    background-color:rgba(7, 4, 4, 0.971);
    width: 100%;
    height: 60px;
    padding:0  5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    z-index: 1;
    position: fixed;
    top: 0;
}
.nav-menu{
    display: flex;
    justify-content: space-around;
    color: antiquewhite;
    font-size: 20px;
    position: relative;
    top: 5px;
}
.nav-menu li{
    margin: 10px 40px;
}
.profile-logo{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    /* box-shadow:0 0 5px 3px rgb(165, 165, 253) ; */
}
.link-deco{
    text-decoration: none;
}