.nav-logo{
    height: 70px;
    margin-left: 10px;
    display: block;
}
.nav-bar{
    background-color:  rgb(227, 241, 253);
    width: 100%;
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
   box-shadow: 0 0 5px 3px rgb(204, 218, 230) ;
    z-index: 1;
    position: fixed;
    top: 0;
   
}
.nav-menu{
    display: flex;
    justify-content: space-around;
}
.nav-menu li{
    margin: 10px 40px;
}
.profile-logo{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    box-shadow:0 0 5px 3px rgb(165, 165, 253) ;
}