.main-container-footer{
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 100%;
    padding: 10px;
    padding-top: 50px;
}
.footer-list-cont{
    display: flex;
    flex-wrap: wrap;
    color: white;
    justify-content: space-around;
}
.footer-cont-heading{
    font-size: 28px;

}
.footer-img{
    height: 40px;
    width: 170px;
    margin-left: 30px;
    margin-top: 50px;
    border: 1px solid white;
    border-radius: 8px;
    
}
.fotter-cont-img{
    display: flex;
    justify-content: center;
    margin-left: 100px;
}
.fotter-cont-logos{
    padding: 20px;
   
}
.fotter-cont-logos-title{
    font-size: 20px;
    font-weight: bold;
    color: white;
   
}
.footer-logo{
    height: 30px;
    width: 30px;
    margin: 15px;
    
}
.fotter-cont-logo{
    display: flex;
    flex-direction: row;
}
.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media screen and (max-width: 768px) {
    .footer-list-cont{
        display: flex;
        flex-direction: column;
    }
   .fotter-cont-img{
    display: flex;
    margin-left: 5px;
   }

}