.herosecton-img{
    height: 25rem;
    width: 100vw;
    object-fit: cover;
    position: relative;
}
.herosection-text{
    font-size: 4rem;
    position: absolute;
    left: 25rem;
   top:10rem;
   font-weight: bold;
    color: white;

}
.delivery-input{
    position: absolute;
    top: 16rem;
    left:25rem;
}
.see-nearby{
    position: absolute;
    top:16rem;
    left:40rem;
}
@media screen and (max-width:360px){
    .herosection-text{
        font-size: 2rem;
        margin: 0 1rem;
      top: 10rem;
      left: 2rem;
    }
    .text-halthy{
        margin: 0 1rem;
    }
    .text-halthy{
        margin: 0 1.8rem;
    }
    .img-healthy{
       width: 20rem;
    }

}
.flex-wrap {
    flex-wrap: wrap;
}
.heading-card{
    color: orangered;
    font-size: 1.9rem;
    text-align: center;
    font-weight: 600;
}
.text-halthy{
    text-align: center;
    font-size: 1.1rem;
}
.text-align-center{
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
}
.img-healthy{
    display:block;
    margin: 1rem auto;
}