.herosecton-img{
    height: 25rem;
    width: 100vw;
    object-fit: cover;
    position: relative;
}
.herosection-text{
    font-size: 4rem;
    position: absolute;
    left: 25rem;
   top:10rem;
   font-weight: bold;
    color: white;

}
.delivery-input{
    position: absolute;
    top: 17rem;
    left:28rem;
    height: 3rem;
    width: 25rem;
    font-size: 1.3rem;
    font-weight: 500;
    border-radius: 2rem;
    padding-left: 4rem;
    border: none;
}
.see-nearby{
    position: absolute;
    top:17rem;
    left:50rem;
    height: 3rem;
    width: 9rem;
    padding-left: 2rem;
    padding-top: 0.4rem;
    background-color: red;
    color: white;
    font-size: 1.3rem;
    font-weight: 500;
   border-radius: 2rem;
   border: none;
   text-decoration: none;
}
.signup{
    left:40rem;
}
@media screen and (max-width:360px){
    .herosection-text{
        font-size: 2rem;
        margin: 0 1rem;
      top: 10rem;
      left: 2rem;
      text-align: center;
    }
    .text-halthy{
        margin: 0 1rem;
    }
    .text-halthy{
        margin: 0 1.8rem;
    }
    .img-healthy{
       width: 20rem;
    }
    .delivery-input{
        top: 17rem;
        left:2rem;
        width: 20rem;
        padding-left: 2rem;
    }
    .see-nearby{
      
        top:21rem;
        left:5rem;
        height: 3rem;
        width: 13rem;
       
    }

}
.flex-wrap {
    flex-wrap: wrap;
}
.heading-card{
    color: orangered;
    font-size: 1.9rem;
    text-align: center;
    font-weight: 600;
}
.text-halthy{
    text-align: center;
    font-size: 1.1rem;
}
.text-align-center{
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
}
.img-healthy{
    display:block;
    margin: 1rem auto;
}