

.background-img {
  background-size: cover;
}
.update-btn{
  background-color: red;
  border-radius: 10px;
  border: none;
  padding: 10px 30px;
  color:#fff;
}



@media (max-width: 768px) {
  .login-bg-img {
    width: 90%; 
  }

  .login-button {
    width: 50%; 
  }

  .form {
    width: 90%; 
    padding: 20px; 
  }
}
